{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "extends": [
        "airbnb",
        "prettier"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "max-len": [
            "error",
            {
                "code": 200
            }
        ],
        "prefer-promise-reject-errors": [
            "off"
        ],
        "react/jsx-filename-extension": [
            "off"
        ],
        "react/prop-types": [
            "warn"
        ],
        "no-return-assign": [
            "off"
        ],
        // "no-unused-vars": [
        //     "error",
        //     {
        //         "vars": "all",
        //         "args": "after-used",
        //         "ignoreRestSiblings": false
        //     }
        // ],
        // "jsx-a11y/label-has-associated-control": [
        //     2,
        //     {
        //         "labelComponents": [
        //             "CustomInputLabel"
        //         ],
        //         "labelAttributes": [
        //             "label"
        //         ],
        //         "controlComponents": [
        //             "CustomInput"
        //         ],
        //         "depth": 3
        //     }
        // ],
        "jsx-a11y/alt-text": [
            "off"
        ],
        "react/destructuring-assignment": [
            "off"
        ],
        "jsx-a11y/anchor-is-valid": [
            "off"
        ],
        "react/jsx-props-no-spreading": [
            "off",
            {
                "html": "enforce",
                "custom": "enforce",
                "explicitSpread": "enforce",
                "exceptions": [
                    "off"
                ]
            }
        ],
        "import/no-duplicates": [
            "off"
        ],
        "jsx-a11y/click-events-have-key-events": [
            "off"
        ],
        "jsx-a11y/no-static-element-interactions": [
            "off"
        ],
        "react/jsx-boolean-value": [
            "off"
        ],
        "react/jsx-curly-brace-presence": [
            "off"
        ],
        "  jsx-a11y/no-noninteractive-element": [
            "off"
        ],
        "react/no-array-index-key": [
            "off"
        ],
        "jsx-a11y/no-noninteractive-element-": [
            "off"
        ],
        "arrow-body-style": [
            "off"
        ],
        "no-plusplus": [
            "off"
        ],
        "import/prefer-default-export": [
            "off"
        ],
        "no-unneeded-ternary": [
            "off"
        ],
        "no-undef": [
            "off"
        ],
        "jsx-a11y/no-noninteractive-element-interactions": [
            "off"
        ],
        "react/self-closing-comp": [
            "off"
        ],
        "react/jsx-no-duplicate-props": [
            "off"
        ],
        "no-restricted-globals": [
            "off"
        ],
        " import/no-unresolved": [
            "off"
        ],
        "import/extensions": [
            "off"
        ],
        "react/button-has-type": [
            "off"
        ],
        "react/jsx-no-undef": [
            "off"
        ],
        "no-use-before-define": [
            "off"
        ],
        "no-shadow": [
            "off"
        ],
        "jsx-a11y/label-has-associated-control": [
            "off"
        ],
        "prefer-template": [
            "off"
        ],
        "import/no-cycle": [
            "off"
        ],
        "import/no-useless-path-segments": [
            "off"
        ],
        "dot-notation": [
            "off"
        ],
        "no-unused-vars": [
            "off"
        ],
        "no-underscore-dangle": [
            "off"
        ],
        "prefer-const": [
            "off"
        ],
        "no-else-return": [
            "off"
        ],
        "radix": [
            "off"
        ],
        "react/no-unescaped-entities": [
            "off"
        ],
        "no-nested-ternary": [
            "off"
        ]
    }
}